---
name: "Build"
"on":
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "main"
jobs:
  build:
    runs-on: "ubuntu-latest"
    timeout-minutes: 30
    env:
      GH_TOKEN: "${{ secrets.GH_TOKEN }}"
    steps:
    - uses: "actions/checkout@v6"
    - name: "Set up JDK 21"
      uses: "actions/setup-java@v5"
      with:
        distribution: "graalvm"
        java-version: "21"
        java-package: "jdk"
        cache: "maven"
    - name: "Set up Maven"
      uses: "stCarolas/setup-maven@v5"
      with:
        maven-version: "4.0.0-rc-5"
    - run: "mvn --version"
    - run: "git fetch --prune --unshallow --tags"
    - run: "mvn -s settings.xml spotless:apply"
    - run: "mvn -s settings.xml clean install"
